
@font-face {
    font-family: MuseoModerno;
    src: url('fonts\\museomoderno.ttf');
}

@font-face {
font-family: Roboto;
src: url('fonts\\roboto.ttf');
}

#logo_bola{
    height: 230px;
    margin-bottom: 0px;
    
}

body{
    text-align: center;
    background: #60358F;
    
}
#compartilhar{
    width: 200px;
    margin: auto;
    display: block;
}

#textinho{
    width: 265px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: white;
    margin: auto;
}


footer{
    position: fixed;
    bottom: 2%;
    width: 100%;
    margin: auto;
}
.setas{
    padding: 5px;
    background-color: white;    
    width: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

#footer_content2{
    text-align: center;
}

#logo_museu{
    margin-bottom: 1px;
    width: 150px;
    padding: 0px;
    display:inline-block;
    margin-left: 75;
}