
#logo_bola{
    margin-top: 100px;
    width: 320px;
    height: 249px;
}
#logo_museu{
    height: 100px;
    width: 100px;
    margin-top: 30px;
}
#loading{
    width: 80px;
    margin-top: 100px;
}
div{
    text-align: center;
}
